<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Admin Panel</h1>
    <ul>
      <% articles.forEach(article => { %>
      <li>
        <h3><%= article.title %></h3>
        <p><%= article.date %></p>
        <a href="/article/<%= article.id %>">View</a>
        <a href="/admin/edit/<%= article.id %>">Edit</a>
        <a href="/admin/delete/<%= article.id %>">Delete</a>
      </li>
      <% }) %>
    </ul>
  </body>
</html>
